.pagination {
  margin: 10px auto;
  width: 200px;
  display: flex;
  justify-content: center;
  gap: 5px;
  li {
    cursor: pointer;
    font-weight: 500;
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-size: 25px;
    &.itemActive {
      font-weight: 1000;
      font-size: 28px;
    }
  }
}
