.header {
  position: relative;
  border: 3px solid black;
  border-radius: 20px;
  width: 1140px;
  padding: 10px 15px;
  &__mainIcon {
    position: absolute;
    top: 18px;
    left: 30px;
    width: 50px;
    img {
      width: 100%;
    }
  }
  &__text {
    font-family: "Bungee Shade", sans-serif;
    font-size: 30px;
    text-align: center;
  }
}
