.result {
  padding: 20px 0 0 0;
  &__wrapper {
    width: 800px;
    margin: 0 auto;
    background-color: #ffebeb;
    border-radius: 20px;
    padding: 20px 40px;
    &-content {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
  &__line {
    margin-top: 20px;
    height: 3px;
    background-color: black;
  }
  &__frame {
    display: flex;
    padding: 20px;
    border: 3px solid black;
    border-radius: 20px;
  }
  &__dataUser {
    font-size: 20px;
    display: flex;
    width: 150px;
    flex-direction: column;
    gap: 10px;
    &-data {
      border-bottom: 2px solid black;
    }
  }
  &__answers {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    text-align: center;
    &-resolved {
      font-size: 30px;
    }
  }
}
