.questionList {
  position: relative;
  background-color: #ffebeb;
  border-radius: 20px;
  padding: 20px 40px;
  max-width: 850px;
  &__time {
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
  }
}
